In [1]:
# importing the requests library 
import requests
from lxml import html
import os
import glob
import pandas as pd
import time
import re
import numpy as np

In [2]:
URL = "http://gettwitterid.com/?user_name="
URL2 = "&submit=GET+USER+ID"

In [3]:
data = pd.read_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/mentions.csv', sep=',', header=0)

In [4]:
data.head()

                   ID         mention
0  682716086681382912  RyanWatersUKIP
1  682716257402109952     Mativenko80
2  682717394154991616  RyanWatersUKIP
3  682718899519893504            UKIP
4  682718899519893504    Nigel_Farage

In [5]:
data = data.drop(['ID'], axis=1)
data = data.drop_duplicates()
data.head()

          mention
0  RyanWatersUKIP
1     Mativenko80
3            UKIP
4    Nigel_Farage
5  News_Executive

In [6]:
users = []

In [ ]:
startTime = time.time()
for index, row in data.iterrows():
    usertag = row['mention']
    page = requests.get(URL+str(usertag)+URL2)
    tree = html.fromstring(page.content)
    tr_elements = tree.xpath('//p/text()')
    tr_elements += [''] * (11 - len(tr_elements))
    userID = str(tr_elements[2])
    fullName = str(tr_elements[4])
    followers = str(tr_elements[8])
    tweets = str(tr_elements[10])
    df = {'u_tag': usertag, 'u_id': userID, 'fullname': fullName, 'followercount': followers, 'tweetcount': tweets}
    users.append(df)
    if(index%100==0):
        print(index)
    
print("Execution time: ",time.time()-startTime)

In [110]:
dataFrame = pd.DataFrame(users)
dataFrame.to_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/mentionedUsers.csv', index=False)