In [1]:
# importing the requests library 
import requests
from lxml import html
import os
import glob
import pandas as pd
import time
import re

In [2]:
data = pd.read_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/withText.csv', sep=',', header=0)

In [3]:
data.head()

,ID,user_id,user_tag,t_sentiment,t_stance,text
0,682715594110689280,259896187,NaN,positive,remain,NaN
1,682715872205651968,6312362,NaN,neutral,other,NaN
2,682716086681382912,259896187,Mativenko80,negative,remain,"Evans su Twitter: ""@RyanWatersUKIP So, let's h..."
3,682716257402109952,6312362,DrRyanWaters,positive,other,"Dr Ryan Waters❌ su Twitter: ""@Mativenko80 odd ..."
4,682716531470544896,259896187,NaN,neutral,other,NaN

In [4]:
hashtags = []
mentions = []

In [5]:
startTime = time.time()
for index, row in data.iterrows():
    s = str(row['text'])
    id = str(row['ID'])
    h = re.findall(r"#(\w+)", s)
    m = re.findall(r"@(\w+)", s)
    for i in h:
        df = {'ID': id, 'hashtag': i}
        hashtags.append(df)
    for i in m:
        df = {'ID': id, 'mention': i}
        mentions.append(df)

print("Execution time: ",time.time()-startTime)

Execution time:  0.6561477184295654

In [6]:
dataFrame = pd.DataFrame(hashtags)
dataFrame.to_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/hashtags.csv', index=False)

dataFrame = pd.DataFrame(mentions)
dataFrame.to_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/mentions.csv', index=False)