In [2]:
# importing the requests library 
import requests
from lxml import html
import os
import glob
import pandas as pd
import time

In [3]:
userData = pd.read_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/users.csv', sep=',', header=0, index_col=["UserID"])
#tweets = pd.read_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/tweets_stance_sentiment_1outof4.csv', sep='~', header=0)
tweets = pd.read_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/withText.csv', sep=',', header=0)
mentioned = pd.read_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/mentionedUsers.csv', sep=',', header=0)

n:\documents\uni\usda\explorativeanalysis\venv\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [13]:
userData.describe(include = 'all')

       u_stance u_sentiment    u_botscore u_botreqtime  u_tweetcount
count   3979965     3979965  1.735674e+06      1735674  3.979965e+06
unique        3           4           NaN           55           NaN
top      others     neutral           NaN   2019-12-25           NaN
freq    2432560     1094410           NaN       761676           NaN
mean        NaN         NaN  2.072323e-01          NaN  1.278844e+01
std         NaN         NaN  2.175228e-01          NaN  1.487969e+02
min         NaN         NaN  1.000000e-02          NaN  1.000000e+00
25%         NaN         NaN  6.000000e-02          NaN  1.000000e+00
50%         NaN         NaN  1.100000e-01          NaN  2.000000e+00
75%         NaN         NaN  2.670000e-01          NaN  4.000000e+00
max         NaN         NaN  9.860000e-01          NaN  9.180800e+04

In [14]:
tweets.describe(include = 'all')

,ID,user_id,user_tag,t_sentiment,t_stance,text
count,7.200000e+03,7.200000e+03,5421,7200,7200,4873
unique,NaN,NaN,3246,3,3,4847
top,NaN,NaN,account,neutral,other,"Ken Jack su Twitter: ""Got a #Kindle? Get thril..."
freq,NaN,NaN,548,2952,4397,4
mean,6.839589e+17,1.172859e+09,NaN,NaN,NaN,NaN
std,5.628230e+14,1.322949e+09,NaN,NaN,NaN,NaN
min,6.827156e+17,1.366600e+04,NaN,NaN,NaN,NaN
25%,6.836083e+17,1.299828e+08,NaN,NaN,NaN,NaN
50%,6.840548e+17,4.412518e+08,NaN,NaN,NaN,NaN
75%,6.844128e+17,2.345828e+09,NaN,NaN,NaN,NaN
max,6.847554e+17,4.718806e+09,NaN,NaN,NaN,NaN

In [30]:
result = []

In [31]:
for index,row in tweets.iterrows():
    try:
        a = userData.loc[(row["user_id"])]
        stance = a["u_stance"]
        if stance=="others":
            stance="other"
        result.append({'u_id': row["user_id"], 'u_sentiment': a["u_sentiment"], 'u_stance': stance})
    except:
        print(".")

In [32]:
dataFrame = pd.DataFrame(result)
dataFrame.drop_duplicates(inplace=True)
dataFrame.to_csv('C:/Users/Loris/Documents/Uni/USDA/project/Data/userStance.csv', index=False)